## **Astronomical Data Analytics**

## Python Basics for Astronomy

### 1. Comments

In [ ]:
"""
This is my first line of comment
This is my second line of coment
"""

'\nThis is my first line of comment\nThis is my second line of coment\n'

In [ ]:
# # Selecte the text below and press ctrl+/
# This is my first comment
# This is my second coment
# This is my Third coment

### 2. Variables and Constants

In [ ]:
X = 4
Y = 5
print(X + X + Y + X + Y)

22

### 3. Basic Data Types



* Strings

In [4]:
# Create variables to store the information about a planet in our solar system
planet_name = "Venus"
planet_age = "4.6 Billion Years"
planet_index = 1

In [5]:
print(planet_name)
print(planet_age)
print(planet_index)

Venus
4.6 Billion Years
1

In [6]:
print(type(planet_name))
print(type(planet_age))
print(type(planet_index))

<class 'str'>
<class 'str'>
<class 'int'>

In [7]:
z = 3.2
print(type(z))

<class 'float'>

### 4. f-strings

In [8]:
name_planet = "Saturn"
moons_planet = 150
print(f"Planet {name_planet} has {moons_planet} Moons")

Planet Saturn has 150 Moons

In [9]:
str_1 = "Earth is the only planet with life."
str_2 = "Maybe not! :D"
print(f"{str_1} {str_2}")

Earth is the only planet with life. Maybe not! :D

### 5. User Inputs

In [13]:
user_name = input("Enter your name: ")

Enter your name: dev

In [14]:
print(type(user_name))

<class 'str'>

In [15]:
user_fav_num = input("Enter your favorite number: ")

Enter your favorite number: 69

In [16]:
print(type(user_fav_num))

<class 'str'>

### 6.Data Type Conversion

In [19]:
# str(input), int(input), float(input)

print(type(user_fav_num))
str_to_int = int(user_fav_num)
print(str_to_int)
print(type(str_to_int))

<class 'str'>
69
<class 'int'>

### 7. Control Flow

In [20]:
for index in [0, 1, 2, 3, 4]:
  print(index)

0
1
2
3
4

In [21]:
range(10)

range(0, 10)

In [22]:
for index in range(10):
  print(index)

0
1
2
3
4
5
6
7
8
9

In [23]:
for index in range(1, 11, 2):
  print(index)

1
3
5
7
9

In [25]:
ct = 0
while True:
  obj = input(f"Enter your favourite celestial object {ct+1}:-")
  ct += 1
  if obj.lower() == "quit":
    break

Enter your favourite celestial object 1:-earth
Enter your favourite celestial object 2:-jupiter
Enter your favourite celestial object 3:-Quit

### 8. Functions

In [26]:
def greet():
  print('Hey Astrophiles!')

In [27]:
greet()

Hey Astrophiles!

In [28]:
def greet_person(name):
  print(f'Hey {name}, I hope you are enjoyong this session and learning a lot of things in Python!')

In [29]:
greet_person('Dev')

Hey Dev, I hope you are enjoyong this session and learning a lot of things in Python!

In [32]:
def greeting(name, msg):
  print(f'Hey {name}, {msg}')

In [33]:
greeting('Harsha', 'Are you an Astrophile?')

Hey Harsha, Are you an Astrophile?

In [34]:
# Import the libraries

In [35]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [36]:
# Explorin the Dataset

In [39]:
pd.read_csv(r"https://www.google.com/url?q=https%3A%2F%2Fdrive.google.com%2Fuc%3Fid%3D1BQVc6MHjQFtDC9iP1isT_K4ojVe_Oil-")

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M
...,...,...,...,...,...,...,...
235,38940,374830.000000,1356.0000,-9.93,5,Blue,O
236,30839,834042.000000,1194.0000,-10.63,5,Blue,O
237,8829,537493.000000,1423.0000,-10.73,5,White,A
238,9235,404940.000000,1112.0000,-11.23,5,White,A
239,37882,294903.000000,1783.0000,-7.80,5,Blue,O

In [40]:
type(pd.read_csv(r"https://www.google.com/url?q=https%3A%2F%2Fdrive.google.com%2Fuc%3Fid%3D1BQVc6MHjQFtDC9iP1isT_K4ojVe_Oil-"))

pandas.core.frame.DataFrame

In [41]:
star_df = pd.read_csv(r"https://www.google.com/url?q=https%3A%2F%2Fdrive.google.com%2Fuc%3Fid%3D1BQVc6MHjQFtDC9iP1isT_K4ojVe_Oil-")

In [43]:
star_df.head(3)

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.0024,0.1700,16.12,0,Red,M
1,3042,0.0005,0.1542,16.60,0,Red,M
2,2600,0.0003,0.1020,18.70,0,Red,M

In [45]:
star_df.sample(10)

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
162,12675,452000.00000,83.0000,-5.620,4,Blue,O
6,2637,0.00073,0.1270,17.220,0,Red,M
40,3826,200000.00000,19.0000,-6.930,4,Red,M
92,4077,0.08500,0.7950,6.228,3,Yellow-White,K
22,7220,0.00017,0.0110,14.230,2,White,F
195,3598,0.00270,0.6700,13.667,1,Red,M
179,24490,248490.00000,1134.5000,-8.240,5,Blue-White,B
32,15276,1136.00000,7.2000,-1.970,3,Blue-White,B
84,14100,0.00067,0.0089,12.170,2,Blue-White,B
67,2817,0.00098,0.0911,16.450,0,Red,M

In [46]:
star_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Temperature (K)         240 non-null    int64
 1   Luminosity(L/Lo)        240 non-null    float64
 2   Radius(R/Ro)            240 non-null    float64
 3   Absolute magnitude(Mv)  240 non-null    float64
 4   Star type               240 non-null    int64
 5   Star color              240 non-null    object
 6   Spectral Class          240 non-null    object
dtypes: float64(3), int64(2), object(2)
memory usage: 13.3+ KB

In [47]:
# Create a directory to save the visulizations
folder_name = 'star_plots'
os.makedirs(folder_name, exist_ok=True)
base_dir = f'/content/{folder_name}/'